

{% comment %} <!DOCTYPE html>
<html>

<head>

<title>{{ title }}</title>

</head>

<body>
   
   <h1>{{ title }}</h1>

   <h2> {{ product_name }}</h2>

   <p>Brand: {{ brand }}</p>

   <p>Price: {{ price }}</p>

   <p>Stock: {{ stock }}</p>
   
</body>

</html> {% endcomment %}


<!DOCTYPE html>
<html>

<head>
   <title>Products</title>
</head>

<body>
   <h1>Products</h1>

   {% if products %}

      {% for product in products %}

         <h3>{{ product.name }}</h3>

         <p>Price: {{ product.price }}</p>
         
         <p>Stock: {{ product.stock }}</p>

         <p>Created_at: {{ product.created_at }}</p>

         <p>Updated_at: {{ product.updated_at }}</p>

         <hr>

      {% endfor %}
   
   {% else %}

      <p>No products found.</p>
   
   {% endif %}

</body>
</html>
