

<!DOCTYPE html>
<html>
<head>
   <title>{{ product.name }}</title>
</head>
<body>
   
   <h1>Name: {{ product.name }}</h1>

   <p>Price: {{ product.price }}</p>

   <p>Stock: {{ product.stock }}</p>

   <p>Created: {{ product.created_at }}</p>

   <p>Updated: {{ product.updated_at }}</p>

   <h3>
      <a href="{% url 'products:product_list' %}">
         Back to Products
      </a>
   </h3>

   <h3>
      <a href="{% url 'products:product_update' product.id %}">
         Edit Product
      </a>
   </h3>

</body>
</html>