

{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>
      {% block title %}
      My Blog Website
      {% endblock %}
   </title>
   <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>

<body>
   <img src="{% static 'images/logo.png' %}"
        alt="logo">
   
   {% include "blog/includes/navbar.html" %}

   <hr>

   {% block content %}

   {% endblock %}

   <hr>

   {% include "blog/includes/footer.html" %}


   <script src="{% static 'js/app.js' %}">
   </script>

</body>
</html>