


{% extends "hospital/base.html" %}

{% block content %}

   <h1>Appointment_list</h1>

   <a href="{% url 'hospital:appointment_create' %}">
      Add Appointment
   </a>

   <hr>

   <table border="1">
      <tr>
         <th>Doctor</th>
         <th>Patient</th>
         <th>Date</th>
         <th>Status</th>
         <th>Action</th>
      </tr>

      {% for appointment in appointments %}

      <tr>
         <td>{{ appointment.doctor.name }}</td>
         <td>{{ appointment.patient.name }}</td>
         <td>{{ appointment.appointment_date }}</td>
         <td>{{ appointment.status }}</td>

         <td>
            <a href="{% url 'hospital:appointment_detail' appointment.pk %}">
               View 
            </a>

            |

            <a href="{% url 'hospital:appointment_update' appointment.pk %}">
               Edit
            </a>

            |

            <a href="{% url 'hospital:appointment_delete' appointment.pk %}">
               Delete  
            </a>
         </td>
      </tr>

      {% empty %}

      <tr>
         <td colspan="5">
            No Appointment Found.
         </td>
      </tr>

      {% endfor %}
   </table>

{% endblock %}