
<!DOCTYPE html>
<html>
<head>
   <title>Student Delete</title>
</head>
<body>
   <h1> Student Delete </h1>

   <p>
      Are you sure do you want to delete
      <strong>
         {{ student.name }}
      </strong>
      ?
   </p>

   <form method="POST">
      {% csrf_token %}

      <button type="submit">
         Yes, Delete
      </button>
   </form>
   <p>
      <a href="{% url 'students:student_detail' student.id %}">
         Cancel
      </a>
   </p>
   
</body>
</html>