

{% extends "accounts/base.html" %}

{% block content %}

<h1>My Profile</h1>

<p>Username: {{ request.user.username }}</p>
<p>First Name: {{ request.user.first_name }}</p>
<p>Last Name: {{ request.user.last_name }}</p>
<p>Email: {{ request.user.email }}</p>
<p>Phone: {{ request.user.phone }}</p>
<p>Address: {{ request.user.address }}</p>

<a href="{% url 'accounts:profile_update' %}">
   Edit Profile
</a>

<br>

<a href="{% url 'accounts:change_password' %}">
   Change Password
</a>

{% endblock %}
